@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@800;900&family=Outfit:wght@300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, button {
  font-family: "Big Shoulders Display";
}

p {
  font-family: "Outfit";
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  border: none;
  background-color: transparent;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
  background-color: aqua;
}

header .header {
  max-width: 1440px;
  margin: 0 auto;
  margin-bottom: 180px;
  height: 799px;
  background-color: tomato;
  background-image: url(../img/disktop-img-header-content-background-img.png);
  background-repeat: no-repeat;
}
header .header .logo {
  height: 799px;
  padding-top: 190px;
  background-image: url(../img/disktop-img-header-background-img.png);
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  justify-content: space-between;
}
header .header .logo .logo-text h1 {
  width: 450px;
  font-weight: 900;
  font-size: 96px;
  line-height: 92%;
  text-transform: uppercase;
  color: #fff;
}
header .header .logo .logo-text h1 span {
  color: #151515;
}
header .header .logo .logo-content {
  max-width: 350px;
  display: flex;
  flex-direction: column;
  row-gap: 64px;
}
header .header .logo .logo-content p {
  font-weight: 400;
  font-size: 22px;
  line-height: 145%;
  color: #444444;
}
header .header .logo .logo-content .btn a {
  display: flex;
  align-items: center;
}
header .header .logo .logo-content .btn a button {
  width: 204px;
  height: 72px;
  font-weight: 800;
  font-size: 20px;
  letter-spacing: 0.18em;
  color: #fff;
  background-color: #151515;
  cursor: pointer;
}
header .header .logo .logo-content .btn a .strelka {
  width: 56px;
  height: 72px;
  background: rgb(213, 150, 108);
  display: flex;
  align-items: center;
  justify-content: center;
}

main .wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  margin-bottom: 180px;
}
main .wrapper .wrapper-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .wrapper .wrapper-content .wrapper-content-text {
  max-width: 350px;
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}
main .wrapper .wrapper-content .wrapper-content-text h1 {
  color: #151515;
  font-weight: 900;
  font-size: 60px;
  line-height: 100%;
  text-transform: uppercase;
}
main .wrapper .wrapper-content .wrapper-content-text p {
  color: #444444;
  font-weight: 300;
  font-size: 22px;
  line-height: 145%;
}
main .wrapper .wrapper-content .wrapper-content-img {
  width: 635px;
}
main .wrapper .wrapper-content .wrapper-content-img img {
  width: 635px;
  display: block;
}
main .wrapper .wrapper-content-images {
  display: flex;
  justify-content: space-between;
}
main .wrapper .wrapper-content-images .wrapper-content-images-1 img {
  width: 635px;
  display: block;
}
main .wrapper .wrapper-content-images .wrapper-content-images-2 {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
main .wrapper .wrapper-content-images .wrapper-content-images-2 img {
  width: 445px;
  display: block;
}
main .wrapper .wrapper-content-images .wrapper-content-images-2 .wrapper-about {
  max-width: 445px;
  padding: 65px 47px;
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  background-color: #151515;
}
main .wrapper .wrapper-content-images .wrapper-content-images-2 .wrapper-about h1 {
  color: #fff;
  font-weight: 900;
  font-size: 60px;
  line-height: 100%;
  text-transform: uppercase;
}
main .wrapper .wrapper-content-images .wrapper-content-images-2 .wrapper-about p {
  color: #fff;
  font-weight: 300;
  font-size: 22px;
  line-height: 145%;
}/*# sourceMappingURL=style.css.map */