@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@800;900&family=Outfit:wght@300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 2px solid blue;
}

body, button {
  font-family: "Big Shoulders Display";
}

p {
  font-family: "Outfit";
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  border: none;
  background-color: transparent;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

header .header {
  max-width: 1440px;
  margin: 0 auto;
  background-image: url(../img/disktop-img-header-content-background-img.png);
  background-repeat: no-repeat;
}
header .header .logo {
  height: 799px;
  padding-top: 190px;
  margin-bottom: 180px;
  background-image: url(../img/disktop-img-header-background-img.png);
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  justify-content: space-between;
}
header .header .logo .logo-text h1 {
  max-width: 450px;
  font-weight: 900;
  font-size: 96px;
  line-height: 92%;
  text-transform: uppercase;
  color: #fff;
}
header .header .logo .logo-text h1 span {
  color: #151515;
}
header .header .logo .logo-content {
  max-width: 350px;
  display: flex;
  flex-direction: column;
  row-gap: 64px;
}
header .header .logo .logo-content p {
  font-weight: 400;
  font-size: 22px;
  line-height: 145%;
  color: #444444;
}
header .header .logo .logo-content .btn a {
  display: flex;
  align-items: center;
}
header .header .logo .logo-content .btn a button {
  width: 204px;
  height: 72px;
  font-weight: 800;
  font-size: 20px;
  letter-spacing: 0.18em;
  color: #fff;
  background-color: #151515;
  cursor: pointer;
}
header .header .logo .logo-content .btn a .strelka {
  width: 56px;
  height: 72px;
  background: rgb(213, 150, 108);
  display: flex;
  align-items: center;
  justify-content: center;
}

main .wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  margin-bottom: 180px;
}
main .wrapper .wrapper-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .wrapper .wrapper-content .wrapper-content-text {
  max-width: 350px;
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}
main .wrapper .wrapper-content .wrapper-content-text h1 {
  color: #151515;
  font-weight: 900;
  font-size: 60px;
  line-height: 100%;
  text-transform: uppercase;
}
main .wrapper .wrapper-content .wrapper-content-text p {
  color: #444444;
  font-weight: 300;
  font-size: 22px;
  line-height: 145%;
}
main .wrapper .wrapper-content .wrapper-content-img img {
  width: 635px;
  display: block;
}
main .wrapper .wrapper-content .wrapper-content-img .tablet-img {
  display: none;
}
main .wrapper .wrapper-content-images {
  display: flex;
  justify-content: space-between;
}
main .wrapper .wrapper-content-images .wrapper-content-images-1 img {
  width: 635px;
  display: block;
}
main .wrapper .wrapper-content-images .wrapper-content-images-1 .tablet-img {
  display: none;
}
main .wrapper .wrapper-content-images .wrapper-content-images-2 {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
main .wrapper .wrapper-content-images .wrapper-content-images-2 .tablet-img {
  display: none;
}
main .wrapper .wrapper-content-images .wrapper-content-images-2 img {
  width: 445px;
  display: block;
}
main .wrapper .wrapper-content-images .wrapper-content-images-2 .wrapper-about {
  max-width: 445px;
  padding: 65px 47px;
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  background-color: #151515;
}
main .wrapper .wrapper-content-images .wrapper-content-images-2 .wrapper-about h1 {
  color: #fff;
  font-weight: 900;
  font-size: 60px;
  line-height: 100%;
  text-transform: uppercase;
}
main .wrapper .wrapper-content-images .wrapper-content-images-2 .wrapper-about p {
  color: #fff;
  font-weight: 300;
  font-size: 22px;
  line-height: 145%;
}

footer {
  background-color: #151515;
}
footer .foter {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 80px 0px 80px 0px;
}
footer .foter p {
  max-width: 430px;
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
}
footer .foter .icons-icon {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
}

@media (max-width: 1080px) {
  header .header {
    background-image: none;
  }
  header .header .logo {
    background-position: left;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    row-gap: 48px;
    padding-right: 39px;
    padding-top: 145px;
    height: 700px;
    margin-bottom: 120px;
  }
  header .header .logo .logo-text {
    max-width: 339px;
    row-gap: 48px;
  }
  header .header .logo .logo-text h1 {
    color: #151515;
    font-size: 70px;
    max-width: 339px;
  }
  header .header .logo .logo-content {
    max-width: 339px;
    row-gap: 48px;
  }
  main .wrapper {
    padding: 0px 39px 0px 39px;
    margin-bottom: 120px;
    row-gap: 11px;
  }
  main .wrapper .wrapper-content .wrapper-content-text {
    max-width: 223px;
  }
  main .wrapper .wrapper-content .wrapper-content-text h1 {
    font-size: 50px;
  }
  main .wrapper .wrapper-content .wrapper-content-text p {
    font-size: 18px;
  }
  main .wrapper .wrapper-content .wrapper-content-img .disktop-img {
    display: none;
  }
  main .wrapper .wrapper-content .wrapper-content-img .tablet-img {
    display: block;
  }
  main .wrapper .wrapper-content .wrapper-content-img .tablet-img img {
    width: 400px;
    height: 400px;
  }
  main .wrapper .wrapper-content-images .wrapper-content-images-1 .disktop-img {
    display: none;
  }
  main .wrapper .wrapper-content-images .wrapper-content-images-1 .tablet-img {
    display: block;
  }
  main .wrapper .wrapper-content-images .wrapper-content-images-1 .tablet-img img {
    width: 400px;
    height: 720px;
  }
  main .wrapper .wrapper-content-images .wrapper-content-images-2 {
    row-gap: 11px;
  }
  main .wrapper .wrapper-content-images .wrapper-content-images-2 .disktop-img {
    display: none;
  }
  main .wrapper .wrapper-content-images .wrapper-content-images-2 .tablet-img {
    display: block;
  }
  main .wrapper .wrapper-content-images .wrapper-content-images-2 .tablet-img img {
    width: 280px;
  }
  main .wrapper .wrapper-content-images .wrapper-content-images-2 .wrapper-about {
    max-width: 280px;
    padding: 80px 28px;
  }
  main .wrapper .wrapper-content-images .wrapper-content-images-2 .wrapper-about h1 {
    font-size: 50px;
  }
  main .wrapper .wrapper-content-images .wrapper-content-images-2 .wrapper-about p {
    font-size: 18px;
  }
  footer .foter {
    padding: 56px 39px;
    justify-content: flex-start;
  }
  footer .foter p {
    font-size: 16px;
    margin-left: 64px;
    margin-right: 133px;
  }
}/*# sourceMappingURL=style.css.map */