@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@800;900&family=Outfit:wght@300;400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 2px solid blue;
}
body, button{
    font-family: 'Big Shoulders Display';
}
p{
    font-family: 'Outfit';
}
$heading-color: #151515;
$paragrph-color: #444444;

a{
    text-decoration: none;
}
ul{
    list-style: none;
}
button{
    border: none;
    background-color: transparent;
}
.container{
    max-width: 1110px;
    margin: 0 auto;
}
header{
    .header{
        max-width: 1440px;
        margin: 0 auto;
        background-image: url(../img/disktop-img-header-content-background-img.png);
        background-repeat: no-repeat;
        .logo{
            height: 799px;
            padding-top: 190px;
            margin-bottom: 180px;
            background-image: url(../img/disktop-img-header-background-img.png);
            background-repeat: no-repeat;
            background-position: center center;
            display: flex;
            justify-content: space-between;
            .logo-text{
               h1{
                max-width: 450px;
                font-weight: 900;
                font-size: 96px;
                line-height: 92%;
                text-transform: uppercase;
                color: #fff;
                span{
                    color: #151515;
                }
               }
            }
            .logo-content{
                max-width: 350px;
                display: flex;
                flex-direction: column;
                row-gap: 64px;
                p{
                    font-weight: 400;
                    font-size: 22px;
                    line-height: 145%;
                    color: $paragrph-color;
                }
                .btn{
                    a{
                        display: flex;
                        align-items: center;
                        button{
                            width: 204px;
                            height: 72px;
                            font-weight: 800;
                            font-size: 20px;
                            letter-spacing: 0.18em;
                            color: #fff;
                            background-color: #151515;
                            cursor: pointer;
                        }
                        .strelka{
                            width: 56px;
                            height: 72px;
                            background: rgb(213, 150, 108);
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                    }
                }
            }
        }
    }
    .mobile-container{
        display: none;
    }
}
main{
    .wrapper{
        display: flex;
        flex-direction: column;
        row-gap: 30px;
        margin-bottom: 180px;
        .wrapper-content{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .wrapper-content-text{
                max-width: 350px;
                display: flex;
                flex-direction: column;
                row-gap: 32px;
                h1{
                    color: $heading-color;
                    font-weight: 900;
                    font-size: 60px;
                    line-height: 100%;
                    text-transform: uppercase;
                }
                p{  
                    color: $paragrph-color;
                    font-weight: 300;
                    font-size: 22px;
                    line-height: 145%;
                }
            }
            .wrapper-content-img{
                img{
                    width: 635px;
                    display: block;
                }
                .tablet-img{
                    display: none;
                }
                .mobile-img{
                    display: none;
                }
            }
        }
        .wrapper-content-images{
            display: flex;
            justify-content: space-between;
            .wrapper-content-images-1{
                  img{
                    width: 635px;
                    display: block;
                  }
                  .tablet-img{
                    display: none;
                  }
                  .mobile-img{
                    display: none;
                  }
            }
            .wrapper-content-images-2{
                display: flex;
                flex-direction: column;
                row-gap: 30px;
                .tablet-img{
                    display: none;
                }
                .mobile-img{
                    display: none;
                }
                img{
                    width: 445px;
                    display: block;
                }
                .wrapper-about{
                    max-width: 445px;
                    padding: 65px 47px;
                    display: flex;
                    flex-direction: column;
                    row-gap: 32px;
                    background-color: #151515;
                    h1{ 
                        color: #fff;
                        font-weight: 900;
                        font-size: 60px;
                        line-height: 100%;
                        text-transform: uppercase;
                    }
                    p{  
                        color: #fff;
                        font-weight: 300;
                        font-size: 22px;
                        line-height: 145%;
                    }
                }
            }
        }
    }
}
footer{
    background-color: #151515;
    .foter{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: 80px 0px 80px 0px;
        p{  
            max-width: 430px;
            color: #fff;
            font-weight: 400;
            font-size: 18px;
            line-height: 156%;
        }
        .icons-icon{
            display: flex;
            column-gap: 20px;
        }
    }
}
@media(max-width:1080px){
    header{
        .header{
            background-image: none;
            .logo{
                background-position: left;
                flex-direction: column;
                align-items: flex-end;
                justify-content: flex-start;
                row-gap: 48px;
                padding-right: 39px;
                padding-top: 145px;
                height: 700px;
                margin-bottom: 120px;
                .logo-text{
                    max-width: 339px;
                    row-gap: 48px;
                    h1{
                        color: $heading-color;
                        font-size: 70px;
                        max-width: 339px;
                    }
                }
                .logo-content{
                    max-width: 339px;
                    row-gap: 48px;
                }
                
            }
        }
    }
    main{
        .wrapper{
            padding: 0px 39px 0px 39px;
            margin-bottom: 120px;
            row-gap: 11px;
            .wrapper-content{
                .wrapper-content-text{
                  max-width: 223px;
                  h1{
                    font-size: 50px;
                  }
                  p{
                    font-size: 18px;
                  }
                }
                .wrapper-content-img{
                    .disktop-img{
                        display: none;
                    }
                   .tablet-img{
                    display: block;
                    img{
                        width: 400px;
                        height: 400px;
                    }
                   }
                }
            }
            .wrapper-content-images{
               .wrapper-content-images-1{
                   .disktop-img{
                       display: none;
                   }
                   .tablet-img{
                    display: block;
                    img{
                        width: 400px;
                        height: 720px;
                    }
                   }
               }
               .wrapper-content-images-2{
                row-gap: 11px;
                .disktop-img{
                    display: none;
                }
                .tablet-img{
                    display: block;
                    img{
                        width: 280px;
                    }
                }
                .wrapper-about{
                    max-width: 280px;
                    padding: 80px 28px;
                    h1{
                        font-size: 50px;
                    }
                    p{
                        font-size: 18px;
                    }
                }
               }
            }
        }
    }
    footer{
        .foter{
            padding: 56px 39px;
            justify-content: flex-start;
            p{  
                font-size: 16px;
                margin-left: 64px;
                margin-right: 133px;
            }
        }
    }
}
@media(max-width: 765px){
     header{
        .header{
            .logo{
                width: 100%;
                height: 490px;
                background-image: none;
                background-image: url(../img/mobile-img-header-background-img.png);
                background-position: center center;
                background-size: cover;
                margin-bottom: 32px;
                .logo-text{
                    display: none;
                }
                .logo-content{
                    display: none;
                }
            }
        }
        .mobile-container{
           display: block;
           max-width: 343px;
           display: flex;
           flex-direction: column;
           row-gap: 32px;
           margin-bottom: 120px;
           padding-left: 16px;
           .logo-text{
               h1{
                   font-weight: 900;
                   font-size: 60px;
                   line-height: 92%;
                   text-transform: uppercase;
               }
           }
           .logo-content{
            display: flex;
            flex-direction: column;
            row-gap: 32px;
            p{
                font-weight: 400;
                font-size: 18px;
                line-height: 156%;
            }
            .btn{
                a{
                    display: flex;
                    align-items: center;
                    button{
                        width: 204px;
                        height: 72px;
                        font-weight: 800;
                        font-size: 20px;
                        letter-spacing: 0.18em;
                        color: #fff;
                        background-color: #151515;
                        cursor: pointer;
                    }
                    .strelka{
                        width: 56px;
                        height: 72px;
                        background: rgb(213, 150, 108);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }
           }
        }
     }
     main{
        .wrapper{
            .wrapper-content{
                flex-direction: column-reverse;
                .wrapper-content-text{
                     max-width: 343px;
                }
                .wrapper-content-img{
                    .tablet-img{
                        display: none   ;
                    }
                    .mobile-img{
                        display: block;
                        img{
                            width: 343px;
                        }
                    }
                }
            }
            .wrapper-content-images{
                flex-direction: column;
                align-items: center;
                row-gap: 16px;
                .wrapper-content-images-1{
                    .tablet-img{
                        display: none;
                    }
                      .mobile-img{
                        display: block;
                        img{
                            width: 343px;
                        }
                      }
                }
                .wrapper-content-images-2{
                    row-gap: 16px;
                    .tablet-img{
                        display: none;
                    }
                      .mobile-img{
                        display: block;
                        img{
                            width: 343px;
                        }
                      }
                      .wrapper-about{
                        max-width: 343px;
                      }
                }
            }
        }
     }
}
