@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@800;900&family=Outfit:wght@300;400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, button{
    font-family: 'Big Shoulders Display';
}
p{
    font-family: 'Outfit';
}
$heading-color: #151515;
$paragrph-color: #444444;

a{
    text-decoration: none;
}
ul{
    list-style: none;
}
button{
    border: none;
    background-color: transparent;
}
.container{
    max-width: 1110px;
    margin: 0 auto;
}
header{
    .header{
        max-width: 1440px;
        margin: 0 auto;
        margin-bottom: 180px;
        height: 799px;
        background-image: url(../img/disktop-img-header-content-background-img.png);
        background-repeat: no-repeat;
        .logo{
            height: 799px;
            padding-top: 190px;
            background-image: url(../img/disktop-img-header-background-img.png);
            background-repeat: no-repeat;
            background-position: center center;
            display: flex;
            justify-content: space-between;
            .logo-text{
               h1{
                width: 450px;
                font-weight: 900;
                font-size: 96px;
                line-height: 92%;
                text-transform: uppercase;
                color: #fff;
                span{
                    color: #151515;
                }
               }
            }
            .logo-content{
                max-width: 350px;
                display: flex;
                flex-direction: column;
                row-gap: 64px;
                p{
                    font-weight: 400;
                    font-size: 22px;
                    line-height: 145%;
                    color: $paragrph-color;
                }
                .btn{
                    a{
                        display: flex;
                        align-items: center;
                        button{
                            width: 204px;
                            height: 72px;
                            font-weight: 800;
                            font-size: 20px;
                            letter-spacing: 0.18em;
                            color: #fff;
                            background-color: #151515;
                            cursor: pointer;
                        }
                        .strelka{
                            width: 56px;
                            height: 72px;
                            background: rgb(213, 150, 108);
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                    }
                }
            }
        }
    }
}
main{
    .wrapper{
        display: flex;
        flex-direction: column;
        row-gap: 30px;
        margin-bottom: 180px;
        .wrapper-content{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .wrapper-content-text{
                max-width: 350px;
                display: flex;
                flex-direction: column;
                row-gap: 32px;
                h1{
                    color: $heading-color;
                    font-weight: 900;
                    font-size: 60px;
                    line-height: 100%;
                    text-transform: uppercase;
                }
                p{  
                    color: $paragrph-color;
                    font-weight: 300;
                    font-size: 22px;
                    line-height: 145%;
                }
            }
            .wrapper-content-img{
                width: 635px;
                img{
                    width: 635px;
                    display: block;
                }
            }
        }
        .wrapper-content-images{
            display: flex;
            justify-content: space-between;
            .wrapper-content-images-1{
                  img{
                    width: 635px;
                    display: block;
                  }
            }
            .wrapper-content-images-2{
                display: flex;
                flex-direction: column;
                row-gap: 30px;
                img{
                    width: 445px;
                    display: block;
                }
                .wrapper-about{
                    max-width: 445px;
                    padding: 65px 47px;
                    display: flex;
                    flex-direction: column;
                    row-gap: 32px;
                    background-color: #151515;
                    h1{ 
                        color: #fff;
                        font-weight: 900;
                        font-size: 60px;
                        line-height: 100%;
                        text-transform: uppercase;
                    }
                    p{  
                        color: #fff;
                        font-weight: 300;
                        font-size: 22px;
                        line-height: 145%;
                    }
                }
            }
        }
    }
}
footer{
    background-color: #151515;
    .foter{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 80px 0px 80px 0px;
        p{  
            color: #fff;
            max-width: 430px;
            font-weight: 400;
            font-size: 18px;
            line-height: 156%;
        }
        .icons-icon{
            display: flex;
            column-gap: 20px;
        }
    }
}
